@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale:wght@400&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.0/css/all.css");

:root {
  --color-body: #E8E4D9;
  --color-gold: #c59145;
  --color-brown: #21160B;
  --color-gray: #333333;
  --color-dark-gray: #222222;
  --color-white: #F1F2F2;
  --font-family: "Raleway", "Kurale", sans-serif;
  --weight-light: 400;
  --weight-regular: 500;
  --weight-bold: 700;
  --transition: 300ms ease-in-out;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 64%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*::selection {
  background: #c59145;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-family: "Kurale", "Raleway", sans-serif;
  font-size: 1.5rem;
  color: var(--color-white);
  color: #F1F2F2;
  background-color: #E8E4D9;
  background-color: var(--color-body);
  overflow-x: hidden;
  position: relative;
}

.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.t-h1 {
  font-weight: var(--weight-bold);
  font-weight: 500;
  line-height: 1;
  font-size: min(max(6rem), 7vw);
  letter-spacing: -1.5px;
  white-space: nowrap;
  color: var(--color-white);
  color: #F1F2F2;
  text-transform: uppercase;
  text-shadow: -0.2rem 0.2rem #20160b, 0.2rem -0.2rem #20160b,
    -0.2rem -0.2rem #20160b, 0.2rem 0.2rem #20160b, -0.35rem 0.35rem #c59145;
}

.t-h2 {
  line-height: 1;
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: var(--color-white);
  color: #F1F2F2;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 4rem;
  text-shadow: -0.15rem 0.15rem #20160b, 0.15rem -0.15rem #20160b,
    -0.15rem -0.15rem #20160b, 0.15rem 0.15rem #20160b, -0.3rem 0.3rem #c59145;
}

.t-h2::before {
  content: "";
  width: 50px;
  font-size: 3rem;
  color: transparent;
  position: absolute;
  bottom: -0.8rem;
  left: -0.3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #c59145;
}

.t-h3 {
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -1.43px;
  line-height: 2;
  color: var(--color-brown);
  color: #21160B;
}

.t-h4 {
  font-weight: var(--weight-regular);
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 0.8px;
  line-height: 2;
  white-space: no-wrap;
  color: var(--color-white);
  color: #F1F2F2;
  position: relative;
}

.t-h4::before {
  content: "";
  width: 30%;
  color: transparent;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #c59145;
}

.t-p {
  font-family: "Raleway";
  font-weight: var(--weight-light);
  font-weight: 100;
  font-size: 1.8rem;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: var(--color-white);
  color: #F1F2F2;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: var(--color-white);
  color: #F1F2F2;
  -webkit-transition: var(--transition);
  -webkit-transition: 300ms ease-in-out;
  transition: var(--transition);
  transition: 300ms ease-in-out;
  line-height: 2.4rem;
}

header {
  position: fixed;
  width: 100%;
  height: 6.4rem;
  margin-top: 2.3rem;
  background: rgba(33, 22, 11, 0.8);
  -webkit-box-shadow: rgba(33, 33, 33, 0.33) 0px 10px 30px -10px;
  box-shadow: rgba(33, 33, 33, 0.33) 0px 10px 30px -10px;
  z-index: 9;
  backdrop-filter: blur(4px);
}

nav {
  display: block;
}

header .navcontainer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 1rem;
  position: relative;
}

header .logocontainer {
  width: auto;
  float: left;
}

header .logo {
  line-height: 100%;
  text-align: center;
}

header .logo svg {
  width: 10rem;
  height: 10rem;
  position: relative;
  top: -1.8rem;
  margin-right: 1rem;
}

header .logo::before {
  content: "";
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  top: -0.5rem;
  left: 1.25rem;
  margin-right: 1rem;
  background-color: rgba(33, 22, 11, 0.8);
  transform: rotate(45deg);
}

header a {
  color: var(--color-white);
  color: #fff;
  font-weight: var(--weight-light);
  font-weight: 400;
  -webkit-transition: var(--transition);
  -webkit-transition: 300ms ease-in-out;
  transition: var(--transition);
  transition: 300ms ease-in-out;
  text-decoration: none;
}

header a:hover {
  color: #ffffff90;
}

.navlist {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  text-align: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 6.4rem;
  width: 55%;
  margin: 0 auto;
  padding: 0;
}

.nav_item {
  position: relative;
}

.nav_item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #c59145;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 300ms ease;
}

.nav_item:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 720px) {
  header .navigation {
    display: none;
  }

  header .navcontainer {
    width: 90%;
  }

  header .mobile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;
    margin-top: 1.65rem;
  }
}

/* Hamburger Menu */
#mobile_menuToggle {
  display: block;
  width: 100%;
  position: relative;
  top: 0.5rem;
  float: right;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#mobile_menuToggle a {
  text-decoration: none;
  color: var(--color-white);
  color: #fff;
  transition: color 300ms ease;
}

#mobile_menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#mobile_menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--color-body);
  background: #E8E4D9;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 300ms cubic-bezier(0.77, 0.2, 0.05, 1),
    background 300ms cubic-bezier(0.77, 0.2, 0.05, 1), opacity 400ms ease;
}

#mobile_menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#mobile_menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#mobile_menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 0px);
  background: var(--color-gold);
  background: #c59145;
}

#mobile_menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#mobile_menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0px, -0.5px);
}

.mobile_menu {
  position: absolute;
  left: calc(-100vw + 55px);
  width: 105vw;
  margin-top: 15px;
  background: var(--color-brown);
  background: #21160B;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(110vw, 0%);
  transition: transform 300ms cubic-bezier(0.77, 0.2, 0.05, 1);
  overflow: auto;
}

.mobile_menu ul {
  text-align: center;
  overflow: hidden;
}

.mobile_menu h3 {
  background-color: var(--color-brown);
  background-color: #21160B;
  border-bottom: 4px solid #c59145;
  font-size: 2.4rem;
  padding: 2vh 0;
}

.mobile_menu li {
  padding: 1.25vh 0;
  display: block;
  margin: 3px 0;
  font-size: 1.2em;
  text-decoration: none;
}

.mobile_menu li:active {
  background-color: var(--color-gold);
  background-color: #c59145;
}

.mobile_menu a {
  text-decoration: none;
}

#mobile_menuToggle input:checked ~ .mobile_menu {
  transform: translate(0, 0%);
}

li a {
  font-size: 1.8rem;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 98vh;
  background-image: url("https://thecarrinobottlehouse.github.io/images/TCBH_HeroBG.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #c59145;
  transition: 0s linear;
  transition-property: background-position;
}

.hero::before {
  content: "";
  background: rgba(33, 22, 11, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.hero__container {
  width: 100%;
  max-width: 1200px;
  padding: 5rem;
  padding-top: 25vh;
  margin: 0 auto;
  animation: slide-up 1.25s;
}

@keyframes slide-up {
  from {
    padding-top: 28vh;
    opacity: 0.3;
  }
  to {
    padding-top: 25vh;
    opacity: 1;
  }
}

.hero__logo__container {
  width: 100%;
  max-width: 80vmin;
  background: rgba(33, 22, 11, 0.8);
  -webkit-box-shadow: rgba(33, 33, 33, 0.5) 0px 10px 30px -10px;
  box-shadow: rgba(33, 33, 33, 0.5) 0px 10px 30px -10px;
  padding: 1rem;
  position: relative;
  display: inline-block;
  backdrop-filter: blur(4px);
  text-align: center;
  margin: auto;
}

.hero__logo__container::before {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 3.5rem);
  height: calc(100% - 5rem);
  position: absolute;
  top: 2.5rem;
  left: 1.75rem;
}

.hero__logo__container::after {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 5rem);
  height: calc(100% - 3.5rem);
  position: absolute;
  top: 1.75rem;
  left: 2.5rem;
}

.hero__logo {
  width: 90%;
  padding: 3rem;
  display: block;
  margin: 0 auto;
}

.hero__container .t-h1 {
  line-height: 1.2;
}

.hero__copy__container {
  width: 80%;
  margin: 0 auto;
}

#hero-text-c {
  content: "";
  display: inline-block;
  background-color: rgb(247, 237, 2);
  background-image: linear-gradient(
    135deg,
    rgba(247, 237, 2, 1) 0%,
    rgba(21, 167, 199, 1) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: text-rotate 2s ease-in-out infinite;
}

#hero-text-line {
  display: inline-block;
  width: 50%;
  border-bottom: 4px solid #12406380;
}

@keyframes text-rotate {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  20% {
    opacity: 0;
    transform: translateY(4rem);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(4em);
  }
}

#arrow {
  width: 100vw;
  padding: 8px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 4rem;
  opacity: 0.5;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  35% {
    transform: translate(0px, 1rem);
  }
}

#arrow span {
  display: block;
  width: 24px;
  height: 4px;
  position: relative;
  background: var(--color-white);
  background: #E8E4D9;
  transform: rotate(-20deg) translate(-1px, -2px);
}

#arrow span:nth-last-child(2) {
  transform: rotate(20deg) translate(1px, -2px);
}

/**********************/
/* FOR TABLET SCREENS */
/**********************/
@media only screen and (max-width: 800px) {
  .hero {
    height: 90vh;
    padding: 0rem;
  }
}

/**********************/
/* FOR MOBILE SCREENS */
/**********************/
@media only screen and (max-width: 500px) {
  .hero {
    height: 85vh;
    text-align: center;
  }

  .hero__container {
    text-align: center;
    padding: 2.5rem;
    padding-top: 30vh;
  }

  @keyframes slide-up {
    from {
      padding-top: 33vh;
      opacity: 0.3;
    }
    to {
      padding-top: 30vh;
      opacity: 1;
    }
  }

  .hero__container .t-h1 {
    line-height: 1.2;
    text-align: left;
    font-size: 4rem;
  }

  .hero__logo {
    width: 100%;
  }
}

.section__welcome {
  width: 60%;
  max-width: 1200px;
  margin: 6rem auto;
  text-align: center;
  background: #E8E4D9;
}

.welcome__copy__container {
  width: 100%;
  padding: 1rem;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: auto;
}

.welcome__copy__container::before {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 3.5rem);
  height: calc(100% - 5rem);
  position: absolute;
  top: 2.5rem;
  left: 1.75rem;
}

.welcome__copy__container::after {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 5rem);
  height: calc(100% - 3.5rem);
  position: absolute;
  top: 1.75rem;
  left: 2.5rem;
}

.welcome__copy {
  width: 90%;
  padding: 2rem;
  display: block;
  margin: 2rem auto;
}

.welcome__copy .t-p {
  color: #20160b;
}

#tcbh__logo__small {
  padding-top: 6rem;
}

.section__featured {
  width: 100%;
  height: auto;
  background-image: url("https://thecarrinobottlehouse.github.io/images/TCBH_Barware_Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border-top: 1px solid #c59145;
  border-bottom: 1px solid #c59145;
}

.section__featured::before {
  content: "";
  background: rgba(33, 22, 11, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.section__container {
  width: 100%;
  max-width: 1200px;
  padding: 5rem;
  margin: 0 auto;
  white-space: nowrap;
}

.flickity-button {
  background: rgba(33, 22, 11, 0.8);
}

.flickity-button:hover {
  background: #c59145;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* position outside */
.flickity-prev-next-button.previous {
  left: -30px;
}

.flickity-prev-next-button.next {
  right: -30px;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 0.5;
  background: transparent;
  border: 2px solid #E8E4D9;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #E8E4D9;
}

.featured__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: normal;
}

#featured_2 {
  flex-direction: row-reverse;
  padding: 8rem 0;
}

.img__container {
  width: 33%;
  height: 100%;
  background: rgba(33, 22, 11, 0.8);
  -webkit-box-shadow: rgba(33, 33, 33, 0.5) 0px 10px 30px -10px;
  box-shadow: rgba(33, 33, 33, 0.5) 0px 10px 30px -10px;
  padding: 1rem;
  position: relative;
  display: inline-block;
  backdrop-filter: blur(4px);
  text-align: center;
  margin-right: 2rem;
}

.img__container::before {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 1.5rem);
  height: calc(100% - 3rem);
  position: absolute;
  top: 1.5rem;
  left: 0.75rem;
}

.img__container::after {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 3rem);
  height: calc(100% - 1.5rem);
  position: absolute;
  top: 0.75rem;
  left: 1.5rem;
}

.featured__img {
  width: 100%;
  padding: 2rem;
  padding-bottom: 1.5rem;
  display: block;
  margin: 0 auto;
}

.lightbox-target {
  position: absolute;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid #21160B;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 999;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: rgba(33, 22, 11, 0.8);
  color: #E8E4D9;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 999;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: #E8E4D9;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: #E8E4D9;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}

.featured__info {
  width: 60%;
}

.featured__name {
  font-family: "Raleway";
  font-weight: 100;
  font-size: 3.2rem;
  color: #F1F2F2;
  position: relative;
  margin-left: 6rem;
}

.featured__name::before {
  content: "";
  color: transparent;
  background-image: url("https://thecarrinobottlehouse.github.io/images/TCBH_Deco.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 20px;
  margin: 1rem;
  left: -6.8rem;
  position: absolute;
}

.featured__name::after {
  content: "";
  color: transparent;
  background-image: url("https://thecarrinobottlehouse.github.io/images/TCBH_Deco.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 20px;
  margin: 1rem;
  transform: rotateY(180deg);
  position: absolute;
}

.featured__desc {
  font-family: "Raleway";
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #F1F2F2;
  position: relative;
  padding: 1rem;
  margin-top: 1rem;
}

.featured__detail {
  width: 80%;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  line-height: 1.75rem;
  white-space: no-wrap;
}

.ingredient__list {
  display: inline-block;
  padding: 1.5rem; 
  padding-right: 3rem;
}

.glass__type {
  display: inline-block;
  padding: 1.5rem;
  padding-left: 3rem;
}

/***********************/
/* FOR SMALLER SCREENS */
/***********************/
@media only screen and (max-width: 1290px) {
  .section__welcome {
    width: 80%;
  }
}

/**********************/
/* FOR TABLET SCREENS */
/**********************/
@media only screen and (max-width: 800px) {
  .section__welcome {
    margin: 3rem auto;
  }

  .section__container {
    width: 90%;
    padding: 5rem 0rem;
  }

  .featured__container {
    text-align: left;
  }

  .img__container {
    margin: 0;
  }

  .featured__info {
    width: 65%;
    margin-left: 1rem;
  }
  
  .featured__detail {
    width: 90%;
  }
}

/* SWITCH TO COLUMN */
@media only screen and (max-width: 720px) {
  .section__welcome {
    width: 100%;
  }

  .section__featured {
    height: auto;
    max-height: none;
  }

  .main-carousel {
    padding-bottom: 3rem;
  }

  .featured__container {
    flex-direction: column;
    margin: 0 auto;
  }

  /* position outside */
  .flickity-prev-next-button.previous {
    left: 0px;
  }

  .flickity-prev-next-button.next {
    right: 0px;
  }

  #featured_2 {
    flex-direction: column;
  }

  .img__container {
    width: 100%;
  }

  .featured__info {
    width: 100%;
  }
}

/**********************/
/* FOR MOBILE SCREENS */
/**********************/
@media only screen and (max-width: 500px) {
  .section__featured {
    background-attachment: scroll;
  }

  .section__container {
    width: 100%;
    padding: 4rem 1.5rem;
  }

  .t-h1 {
    text-shadow: -0.2rem 0.2rem #20160b, 0.2rem -0.2rem #20160b,
      -0.2rem -0.2rem #20160b, 0.2rem 0.2rem #20160b, -0.325rem 0.325rem #c59145;
  }

  .t-h2 {
    font-size: 3rem;
  }
  
  .t-h3 {
  font-size: 3rem;
}

  .featured__name {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 5rem;
  }

  .featured__name::before {
    width: 4rem;
    height: 2rem;
    left: -5.5rem;
    margin: 0.8rem;
  }

  .featured__name::after {
    width: 4rem;
    height: 2rem;
    margin: 0.8rem;
  }
  
  .featured__detail {
    width: 60%;
    flex-direction: column;
  }
  
  .glass__type {
    margin-top: 1rem;
    padding: 1.5rem;
  }
  
  .ingredient__list {
    padding: 1.5rem; 
}
}

.section__menu {
  border-top: 1px solid #C59145;
  background: #21160B;
}

.menu__container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
}

.menu__frame {
  width: 90%;
  height: auto;
  background: #21160B;
  position: relative;
  display: inline-block;
  text-align: center;
}

.menu__frame::before {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 1.5rem);
  height: calc(100% - 3rem);
  position: absolute;
  top: 1.5rem;
  left: 0.75rem;
  z-index: 1;
}

.menu__frame::after {
  content: "";
  border: 1px solid #c59145;
  width: calc(100% - 3rem);
  height: calc(100% - 1.5rem);
  position: absolute;
  top: 0.75rem;
  left: 1.5rem;
  z-index: 0;
}

#menupdf {
    width: 100%;
    max-width: 904px;
    height: 80vh;
    padding: 3rem;
    display: block;
    z-index: 3;
    position: relative;
}

/* FILL SCREEN WIDTH */
@media only screen and (max-width: 800px) {
  .menu__container {
    width: 100%;
  }
  
  .menu__frame {
    width: 100%;
  }
}

.logo__container {
  width: 40%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.footer {
  background-color: #C59145;
  font-family: "Raleway";
  font-size: 1.3rem;
  font-weight: 500;
  color: #21160B;
  text-align: left;
  border-top: 4px solid #E8E4D9;
}

.footer__container {
  width: 100%;
  max-width: 1200px;
  padding: 1.5rem;
  margin: 0 auto;
}
